# DevKitC-1 built-in USB-Serial-JTAG configuration.

# One core.
set ESP32_S3_ONLYCPU 1

# The JTAG endpoint of the ESP32-S3's built-in USB-Serial-JTAG peripheral.
adapter driver esp_usb_jtag
espusbjtag vid_pid 0x303a 0x1001
espusbjtag caps_descriptor 0x2000
espusbjtag chip_id 9

# Select JTAG after defining the adapter driver.
source [find target/esp32s3.cfg]

adapter speed 40000
