
/ {
    tk_dummy: dummy_dc {
        compatible = "zephyr,dummy-dc";
        width = <250>;
        height = <122>;
        status = "okay";
    };

    chosen {
        zephyr,display = &tk_dummy;
    };
};

&sdl_dc {
    status = "disabled";
};
