
/ {
    cicala_dummy: dummy_dc {
        compatible = "zephyr,dummy-dc";
        width = <250>;
        height = <122>;
        status = "okay";
    };

    chosen {
        zephyr,display = &cicala_dummy;
    };
};
